@model Fall2024_Assignment3_jtadams5.Models.Movie

@{
    ViewData["Title"] = "Create";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Movies.css" />
}
<h1>Add a Movie!!</h1>

<h4>Please supply IMDB link if possible...</h4>
<h4>If you cannot supply the IMDB link, supply the name of the movie and our advanced AI will handle the rest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Movie Name</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label">Year of Release</label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosterURL" class="control-label">Link to Movie Poster</label>
                <input asp-for="PosterURL" class="form-control" />
                <span asp-validation-for="PosterURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imdbURL" class="control-label">Link to IMDB Page</label>
                <input asp-for="imdbURL" class="form-control" />
                <span asp-validation-for="imdbURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
